h1 Press
p
  | Press contact:
  a(href='mailto:enquiry@trailstonegroup.com') enquiry@trailstonegroup.com
p
  a.presslink(title='TrailStone Acquires U.S. Oil and Refining Co.', href='/about/press/trailstone-acquires-u-s-oil-refining-co') TrailStone Acquires U.S. Oil and Refining Co.
  br
  | June 9, 2014, Press Release
p
  a.presslink(href='http://www.bloomberg.com/news/2013-05-21/former-deutsche-bank-commodities-head-silbert-starts-new-company.html', target='_blank') Ex-Deutsche Bank Commodity Head Joined by Team at TrailStone
  br
  | May 21, 2013, 
  a(href='http://www.bloomberg.com', target='_blank') Bloomberg
p
  a.presslink(href='/images/ft-Riverstone-leads-talks-on-commodities-venture.pdf', target='_blank') Riverstone leads talks on $1bn commodities venture (PDF)*
  br
  | May 20, 2013, 
  a(href='http://www.ft.com', target='_blank') Financial Times
p
  a.presslink(href='http://www.reuters.com/article/2013/05/21/commodities-riverstone-idUSL6N0E23PZ20130521', target='_blank') Private equity, top traders mull $1 bln commodity venture
  br
  | May 21, 2013, 
  a(href='http://www.reuters.com/', target='_blank') Reuters
p
  em * Published with the kind permission of the Financial Times
