append styles
  link(href="/about/blue-banner.css", rel="stylesheet")
h1 TrailStone Acquires U.S. Oil and Refining Co.

p New York, NY, June 9, 2014 – TrailStone (“the Company”), a global commodities logistics and trading company backed by Riverstone Holdings LLC, today announced that it has acquired U.S. Oil and Refining Co. (USOR). The acquisition marks TrailStone’s entry into physical crude oil and refined products markets in North America, and will serve as the cornerstone of the Company’s growth strategy in liquids trading. The terms of the transaction were not disclosed.

p USOR is comprised of a 42,000 barrel/day refinery located in Tacoma, Washington, and best-in-class rail, pipe, marine and truck logistics in the Pacific Northwest. It controls:
  ul
    li 2.7 million barrels of storage capacity
    li A fleet of 630 rail cars
    li Multi-year storage and 30,000 b/d throughput agreement at a rail terminal in the Bakken
    li Deepwater terminal with two docks, capable of handling everything from barges up to 125,000 DWT vessels
    li 3 double-hulled barges on long-term charter
    li Dedicated proprietary jet fuel pipeline to Joint Base Lewis-McChord
    li State of the art truck loading racks for wholesale clean product and asphalt sales

p In connection with the acquisition, the USOR executive team, including CEO Robert B. Redd, have joined TrailStone to help execute the business plan for growth and profitability in the coming years.  

p John Redpath, Head of Oil and Agriculture at TrailStone, said, “We are very excited about the acquisition of these assets. USOR is extremely well-positioned to capitalize on the rapidly changing dynamics of the North American oil market, and we look forward to working with Bob Redd and his team to build a leading liquids supply and trading franchise at TrailStone.”

p David Silbert, Chief Executive Officer and Managing Partner said, “TrailStone endeavors to be a leading global asset-backed, logistics and trading company. This transaction represents a significant advancement to that end.”

p Deutsche Bank Securities acted as financial advisor to USOR.

h3 About TrailStone

p Formed in April 2013, TrailStone is a group of separate companies, staffed with experienced commodity professionals from all sectors.  Funded by Riverstone and the direct investment of the TrailStone partners and employees, offices have been established in London, Berlin, Sydney, Austin, and New York.  The firm’s logistics, trading and financing activities are focused in oil and refined products, power and natural gas, metals and mining and agriculture.  For more information got to www.trailstonegroup.com.

h3 About Riverstone Holdings LLC

p Riverstone is an energy and power-focused private investment firm founded in 2000 by David M. Leuschen and Pierre F. Lapeyre, Jr. with approximately $27 billion of equity capital raised. Riverstone conducts buyout and growth capital investments in the exploration & production, midstream, oilfield services, power and renewable sectors of the energy industry. With offices in New York, London, Houston and Mexico City, the firm has committed approximately $26.1 billion to 108 investments in North America, Latin America, Europe, Africa and Asia.

h3 Contacts

p 
  | James David and Randall Drumheller
  br 
  | Kekst and Company
  br 
  | 212-521-4800
