h1 Gas & Power Team
.row
  .col-md-12
    .team-grid
      img(src="/images/william-gebhardt-205x272.jpg")
      h2 William Gebhardt
      p.title Head of European Power and Gas
      p Mr. Gebhardt served as a Managing Director of Deutsche Bank from February 2007 to February 2013.  While at the bank, his roles encompassed Head of Trading for European Power, Gas, Coal and Dry Freight, as well as co-Head of Dry Bulk Trading (coal, iron ore, steel, dry freight) and Global Head of...
      a(href='william-gebhardt') Read more
.row
  .col-md-12
    .team-grid
      img(src="/images/ante-pogacic-205x272.jpg")
      h2 Ante Pogacic
      p.title Partner & Head of EU Power & Gas Origination
      p Ante Pogacic served as Managing Director of Deutsche Bank AG. Mr. Pogacic served as European Head of Electricity and Gas, Sales and Origination since September 2009. Mr. Pogacic is a highly experienced commodity professional specialized on the European Energy Markets with a focus on electricity generation and trading throughout Europe.
      a(href='ante-pogacic') Read more
.row
  .col-md-12
    .team-grid
      img(src="/images/mark-strange-205x287-205x272.jpg")
      h2 Mark Strange
      p.title Managing Director, Business Development
      p Mr. Strange has broad experience in the energy business comprising senior roles in the upstream, midstream, banking and commodity trading sectors.Most recently Mr. Strange has focused on the natural gas and power sector where he has sourced, negotiated and closed many significant transactions involving gas pipelines, gas storage...
      a(href='mark-strange') Read more
.row
  .col-md-12
    .team-grid
      img(src="/images/brad-blesie-205x287-205x272.jpg")
      h2 Brad Blesie
      p.title Managing Director, Business Development
      p Mr. Blesie has 23 years of experience in the energy and broader natural resource industries, with a focus on the origination, structuring and execution of complex asset and finance-related transactions. Prior to joining Trailstone, Mr. Blesie was the head of energy business development in the EMEA region for Noble Group where he managed a team...
      a(href='brad-blesie') Read more
