h1.team Mark Strange
h2.team Managing Director
img(src='/images/mark-strange-205x287-205x272.jpg' class='team')
p Mr. Strange has broad experience in the energy business comprising senior roles in the upstream, midstream, banking and commodity trading sectors.
p Most recently Mr. Strange has focused on the natural gas and power sector where he has sourced, negotiated and closed many significant transactions involving gas pipelines, gas storage, power stations, fuel supply, third party asset management and trading services.
p Mr. Strange served as Managing Director of gas and power business development for Noble group between 2010 and 2013 where he developed and closed transactions that were central to the growth of the gas and power business.
p Previously, Mr Strange was head of gas and power origination in EMEA at Merrill Lynch Commodities International and its predecessor entity, Entergy-Koch Trading, between 2001 and 2010. Before 2001, Mr. Strange worked in financial, commercial and operational roles at BP, BG and Mobil (later ExxonMobil).
p Mr. Strange is a Chartered Management Accountant.
a(href='../team') Back to Team Page