.nav-sidebar
  ul
    li 
      a(href='/about/' class="#{ current.source == 'index' ? 'active' : '' }") About
    li 
      a(href='/about/experience' class="#{ current.source == 'experience' ? 'active' : '' }") Experience
    li 
      a(href='/about/team' class="#{ current.source == 'team' ? 'active' : '' }") Executive Team
    li.last
      a(href='/about/press' class="#{ current.source == 'press' ? 'active' : '' }") Press
