.nav-sidebar
  ul
    li 
      a(href='/asset-management' class="#{ current.source == 'index' ? 'active' : '' }") Overview
    li 
      a(href='/asset-management/european-power-gas' class="#{ current.source == 'european-power-gas' ? 'active' : '' }") European Power & Gas
    li.last
      a(href='/asset-management/north-american-power-gas' class="#{ current.source == 'north-american-power-gas' ? 'active' : '' }") North American Power & Gas
   