#myCarousel.carousel.slide(data-ride='carousel')
    // Indicators 
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      |         
      li(data-target='#myCarousel', data-slide-to='1')
    |       
    .carousel-inner(role='listbox')
      .item.active    
        .container
          .carousel-caption
            h1 
              | Through vision, integrity and collaboration, we create a platform for partnership and shared success   
            p
              a.btn.btn-lg.btn-primary(href='/about', role='button') Learn More
      |         
      .item         
        .container
          .carousel-caption
            h1.larger TrailStone Acquires U.S. Oil and Refining Co.
            |               
            p
              | June 9, 2014
            |               
            p
              a.btn.btn-lg.btn-primary(href='/about/press/trailstone-acquires-u-s-oil-refining-co', role='button') Read Press Release
    //  Commenting out overlays for now
      |       
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        |         
        span.sr-only Previous
      |       
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        |         
        span.sr-only Next
