.nav-sidebar
  ul
    li 
      a(href='/commodity-finance' class="#{ current.source == 'index' ? 'active' : '' }") Overview
    li.last
      a(href='/commodity-finance/mine-finance' class="#{ current.source == 'mine-finance' ? 'active' : '' }") Mine Finance
    