.nav-sidebar
  ul
    li 
      a(href='/contact' class="#{ current.source == 'index' ? 'active' : '' }") Offices
    li.last
      a(href='/people' class="#{ current.source == 'team' ? 'active' : '' }") People
