.nav-sidebar
  ul
    li 
      a(href='/physical-platform' class="#{ current.source == 'index' ? 'active' : '' }") Overview
    li 
      a(href='/physical-platform/trailstone-liquids' class="#{ current.source == 'trailstone-liquids' ? 'active' : '' }") Trailstone Liquids
    li
      a(href='/physical-platform/usoil' class="#{ current.source == 'usoil' ? 'active' : '' }") USOIL
    li.last
      a(href='/physical-platform/north-dakota-truck-to-rail-terminal' class="#{ current.source == 'north-dakota-truck-to-rail-terminal' ? 'active' : '' }") North Dakota Truck-to-Rail Terminal 

