.nav-sidebar
  ul
    li 
      a(href='/physical-platform' class="#{ current.source == 'index' ? 'active' : '' }") Overview
    li 
      a(href='/physical-platform/trailstone-liquids' class="#{ current.source == 'trailstone-liquids' ? 'active' : '' }") Trailstone Liquids
    li
      a(href='/physical-platform/usoil' class="#{ current.source == 'usoil' ? 'active' : '' }") USOIL
    li.last
      a(href='/physical-platform/dakota-gold-transfer' class="#{ current.source == 'dakota-gold-transfer' ? 'active' : '' }") Dakota Gold Transfer
