doctype
html
  head
    block head-tags
      != partial('_head-tags')
  body.homepage
    block nav
      != partial ('_nav-hp')
      != partial ('_carousel')
      .container
        .wrapper.ts-homepage
          != yield
    footer
      != partial ('_footer')