doctype
html
  head
    block head-tags
      != partial('_head-tags')
  body
    block nav
      != partial('_nav')
    .banner-header
      h1 #{page_name} 
        img(src='#{banner_icon}' class='#{banner_icon_class}')
    .container
      .wrapper
        .row
          .col-md-8.col-sm-9.sidebar-page-content
            != yield
          .col-md-4.col-sm-4
            block nav-sidebar
              != partial(left_side_nav)
    footer
      != partial ('_footer')