doctype
html
  head
    block head-tags
      != partial('_head-tags')
  body
    block nav
      != partial('_nav')
    .banner-header
      h1 #{page_name}
    .container
      .wrapper
        .row
          .col-md-8.col-sm-9.sidebar-page-content
            != yield
          .col-md-4.col-sm-4
            block nav-sidebar
              != partial(left_side_nav)
        .row
          .col-xs-12
            block nav-sidebar
              != partial(left_side_nav)
    footer
      .container
        p Copyright 2014 | Trailstone 2014
        a(href='mailto:enquiry@trailstonegroup.com') enquiry@trailstonegroup.com
    | <script>
    | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    | 
    | ga('create', 'UA-40471277-1', 'auto');
    | ga('send', 'pageview');
    | </script>