header#top.navbar.navbar-static-top.navbar-fixed-top(role='banner')
    .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(src='/images/trailstone-LOGO-white-412x44.png')
        nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='/about', role='button', aria-expanded='false') About
                ul.dropdown-menu(role='menu')
                  li
                    a(href='/about/team') Executive Team
                  li
                    a(href='/about/press') Press
            li
              a(href='/industries', role='button', aria-expanded='false') Industries
            li.dropdown
              a.dropdown-toggle(href='/services', role='button', aria-expanded='false') Services
                ul.dropdown-menu(role='menu')
                  li
                    a(href='/asset-management') Asset Management
                  li
                    a(href='/commodity-finance/mine-finance') Commodity Finance
            li
              a(href='/physical-platform', role='button', aria-expanded='false') Physical Platform
            li
              a(href='/contact') Contact
