header#top.navbar.navbar-static-top.navbar-fixed-top(role='banner')
    .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(src='/images/trailstone-LOGO-blue-412x44.png')
        nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='/about', role='button', aria-expanded='false') About
                ul.dropdown-menu(role='menu')
                  li
                    a(href='/about/team') Executive Team
                  li
                    a(href='/about/press') Press
            li.dropdown
              a.dropdown-toggle(href='/business-areas', role='button', aria-expanded='false') Business Areas
                ul.dropdown-menu(role='menu')
                  li
                    a(href='/physical-platform/trailstone-liquids') TrailStone Liquids
                  li
                    a(href='/asset-management/european-power-gas') European Power & Gas
                  li
                    a(href='/asset-management/north-american-power-gas') North American Power & Gas
                  li
                    a(href='/commodity-finance/mine-finance') Metals & Mining
            li.dropdown
              a.dropdown-toggle(href='/services', role='button', aria-expanded='false') Services
                ul.dropdown-menu(role='menu')
                  li
                    a(href='/asset-management') Asset Management
                  li
                    a(href='/commodity-finance/mine-finance') Commodity Finance
            li.dropdown
              a.dropdown-toggle(href='/physical-platform', role='button', aria-expanded='false') Physical Platform
                ul.dropdown-menu(role='menu')
                  li
                    a(href='/physical-platform/trailstone-liquids') TrailStone Liquids
                  li
                    a(href='/physical-platform/usoil') USOIL
                  li
                    a(href='/physical-platform/north-dakota-truck-to-rail-terminal') North Dakota Truck-to-Rail Terminal
            li.dropdown
              a.dropdown-toggle(href='/contact', role='button', aria-expanded='false') Contact
                ul.dropdown-menu(role='menu')
                  li
                    a(href='/contact/') Offices
                  li
                    a(href='/people') People
