/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 263px !important;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  position: inherit !important;

}

.carousel-caption h1 {
  font-size: 32px; 
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  padding-top: 18px;
  text-shadow: none !important;
}

@media (max-width: 768px) {
  .carousel-caption h1 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
  }

  .carousel-caption h1 br {
    display: none;
  }
  .carousel-caption p a.btn {
    padding: 10px 20px !important;
    margin-top: 15px !important;}
}

@media (max-width: 480px) {
  .carousel-caption h1 {
    font-size: 26px;
    line-height: 33px;
    font-weight: 400;
    text-align: center;
    padding-top: 0px;}

}



/* not currently using 

.carousel-caption h1.larger {
  font-size: 54px;
  line-height: 62px;
  font-weight: 600;
  text-align: left;
  padding-top: 25px;
  width: 72%;
}

*/ 

.carousel-caption p {
  text-align: center;
  font-size: 24px;
}

.carousel-caption p a.btn {
  text-transform: uppercase;
  background: #72aeb6;
  font-weight: 600;
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 0px;
}

.carousel-indicators {
  display: none;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 263px !important;
  background-color: #004963 !important;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


