h1 Offices
.row
  .col-md-4
    h2 London
    p 
      | TRAILSTONE UK LTD
      br
      | Heron Tower
      br
      | 110 Bishopsgate, Suite 19
      br
      | London, England, EC2N 4AY
      br 
      | + (44) 203 425 9720
  .col-md-4
    h2 Austin
    p 
      | TRAILSTONE MANAGEMENT CORP
      br
      | Suite #125
      br Terrace 6
      | 2901 Via Fortuna Drive
      br
      | Austin, Texas 78746
      br 
      | 001 512 628 4300
  .col-md-4
    h2 New York
    p 
      | TRAILSTONE MANAGEMENT CORP
      br
      | 400 Madison Avenue, Suite 4B
      br New York, NY 10017
      | 001 646 774 1020
.row
  .col-md-4
    h2 Berlin
    p
      | TRAILSTONE GmbH
      br 
      | Zoofenster
      br 
      | Hardenbergstr. 27
      br 
      | 10623 Berlin, Germany
      br 
      | + (49) 30 3404 46770
  .col-md-4
    h2 Sydney
    p 
      | TRAILSTONE AUSTRALIA PTY LTD
      br
      | Grafton Bond Building,
      br Level 5
      | 201 Kent Street
      br
      | Sydney, NSW 2000
      br Australia
      | + (61) 0 28292 2600