.row 
  .col-md-12.hp-hero.col-sm-12 
    img(src='images/trailstone-train-mountains-river-hp.jpg')
    h1
      | Through vision, integrity and collaboration,
      br
      | we create a platform for partnership and shared success

.row
  .col-sm-4
    h2 Physical Platform
    img(src='images/platform-cliff-hd.jpg' class='img-responsive')
    p.hp-thirds TrailStone offers a platform to operate, trade and schedule physical electricity and gas assets throughout the key European and North American power and gas markets. 
      a(href='/focus/physical-platform/') Learn more 
  .col-sm-4
    h2 Commodity Finance
    img(src='images/iron-ore-157569170.jpg' class='img-responsive')
    p.hp-thirds TrailStone invests in and finances the mining and upstream oil and gas sectors. 
      a(href='/investment/mine-finance/') Let's grow together
  .col-sm-4
    h2 Asset Management
    img(src='images/fingers-on-ocular-telescope.jpg' class='img-responsive')
    p.hp-thirds TrailStone focuses on being an asset-backed commodity logistics company. Significant commercial optimization can be achieved when production assets are paired with storage, transportation and demand. 
      a(href='/focus/asset-management') Learn more