append styles
  link(href="/about/blue-banner.css", rel="stylesheet")
p The following industries Trailstone is involved in (this is just placement text). 
ul 
  li Trailstone Liquids
  li European Power & Gas
  li North American Power & Gas
  li Mine Finance 