append styles
  link(href="/about/blue-banner.css", rel="stylesheet")
p The following industries Trailstone is involved in (this is just placement text). 
p 
  a(href='/physical-platform') Trailstone Liquids
p 
  a(href='/asset-management/european-power-gas') European Power & Gas
p 
  a(href='/asset-management/north-american-power-gas') North American Power & Gas
p 
  a(href='/commodity-finance/mine-finance') Metals & Mining
