append styles
  link(href="/about/blue-banner.css", rel="stylesheet")
h1 People
.row
  .col-md-12
    p If you're interested in any of TrailStone's activities, we've provided a list below for points of contact for each of our areas. 
    p We look forward to hearing from you.
  .col-md-5
    p
    | <strong>Mark Strange</strong>
    br
    | European Power and Gas Origination
    br
    a(href='mailto:mark.strange@trailstonegroup.com') Mark.Strange@trailstonegroup.com
  .col-md-5
    p
    | <strong>Pawel Lewin</strong>
    br 
    | European Gas Origination
    br
    a(href='mailto:Pawel.Lewin@trailstonegroup.com') Pawel.Lewin@trailstonegroup.com
.row
  .col-md-5
    p 
    | <strong>Didier Magne</strong>
    br
    | European Gas Trading
    br
    a(href='mailto:Didier.Magne@trailstonegroup.com') Didier.Magne@trailstonegroup.com

  .col-md-5
    p 
    | <strong>Brad Blesie</strong>
    br
    | North America Oil and Gas Origination
    br
    a(href='mailto:Brad.Blesie@trailstonegroup.com') Brad.Blesie@trailstonegroup.com
.row
  .col-md-5
    p 
    | <strong>David Moore</strong>
    br 
    | North American Gas
    br 
    a(href='David.Moore@trailstonegroup.com') David.Moore@trailstonegroup.com
  .col-md-5
    p 
    | <strong>Frank Riley</strong>
    br
    | North American Power
    br 
    a(href='Frank.Riley@trailstonegroup.com') Frank.Riley@trailstonegroup.com
.row
  .col-md-5
    p 
    | <strong>Chris Ryan</strong>
    br
    | North American Oil Midstream
    br
    a(href='mailto:Chris.Ryan@trailstonegroup.com') Chris.Ryan@trailstonegroup.com
  .col-md-5
    p 
    | <strong>Zan Johan</strong>
    br
    | Metals and Mining
    br
    a(href='mailto:Zan.Johan@trailstonegroup.com') Zan.Johan@trailstonegroup.com
.row
  .col-md-4
    p 
    | <strong>Rob MacIntyre</strong>
    br
    | Metals and Mining
    br
    a(href='mailto:Rob.MacIntyre@trailstonegroup.com') Rob.MacIntyre@trailstonegroup.com