append styles
  link(href="/about/blue-banner.css", rel="stylesheet")
.row.our-services
  .col-sm-6
    .hp-3rd-colorbox.asset-management
      a(href='/asset-management')
        img(src='images/windmill-icon.png' class='img-responsive')
        h3 
          | Asset 
          br
          | Management
    p.hp-thirds 
      | Significant commercial value can be created when operational expertise is continually paired with physical systems.  
      br 
      br
      | If you are in need of gas supply or Energy Management Solutions, TrailStone can help.
    a(href='/asset-management' class='hp-thirds-button asset-management') Learn more
  .col-sm-6
    .hp-3rd-colorbox.commodity-finance
      a(href='/commodity-finance')
        img(src='images/commodity-hammer-icon.png' class='img-responsive')
        h3 
          | Commodity
          br  
          | Finance
    p.hp-thirds TrailStone invests in and finances the mining and upstream oil and gas sectors. Let's grow together. 
    a(href='/commodity-finance' class='hp-thirds-button commodity-finance') Learn more
  