append styles
  link(href="/about/blue-banner.css", rel="stylesheet")
.row.our-services.asset-management
  .col-sm-5.our-services
    a(href='/asset-management')
      img(src='images/windmill-icon.png' class='img-responsive')
    a(href='/asset-management')
      h3 
        | Asset 
        br
        | Management
  .col-sm-7.our-services
    p Significant commercial value can be created when operational expertise is continually paired with physical systems.  
    p If you are in need of gas supply or Energy Management Solutions, TrailStone can help. 
      a(href='/asset-management') Learn more
    
.row.our-services.commodity-finance
  .col-sm-5.our-services
    a(href='/commodity-finance')
      img(src='images/commodity-hammer-icon.png' class='img-responsive')
    a(href='/commodity-finance')
      h3 
        | Commodity
        br  
        | Finance
  .col-sm-7.our-services
    p TrailStone invests in and finances the mining and upstream oil and gas sectors. 
    p Let's grow together. 
      a(href='/commodity-finance') Learn more
  