append styles
  link(href="/about/blue-banner.css", rel="stylesheet")
p In concert with a local partner, Cody Moe CEO, Trailstone intends to construct a crude trans-loading facility in Plaza, North Dakota.    The Plaza Terminal will be served by the Canadian Pacific Railway and aggregate crude oil produced in Mountrail and neighboring counties, utilizing gathering pipelines and trucks. 
p The terminal will also provide crude oil storage services through on-site tankage. The rail facility will have a throughput capacity of 70,000 barrels per day (bpd) and storage capacity of more than 300,000 barrels, with expansion to 600,000 barrels during a planned second phase. The terminal’s design includes two loop tracks with storage for one to two additional trains on the private rail spur, a covered loading barn, a 14-arm system capable of loading a unit train in approximately 14 hours, 15 truck unloading bays and three 103,000-barrel storage tanks.
p For more information on Dakota Gold Transfer please visit 
  a(href='http://www.dakotagoldtransfer.com') http://www.dakotagoldtransfer.com.  
p To discuss contracting for throughput or to develop gathering connections, please contact 
  a(href='mailto:brad.blesie@trailstonegroup.com') Brad Blesie
  | .
