append styles
  link(href="/about/blue-banner.css", rel="stylesheet")
p Trailstone acquired  an oil refinery in Tacoma, Washington, USA in June 2014 (USOIL) and has invested in the construction of a crude oil truck-to-rail terminal in North Dakota. TrailStone continues its organic platform build through leasing transportation and storage assets across North America. 
p For enquires regarding our liquids platform and how we can work with you, please contact 
 a(href='/about/team/john-redpath') John Redpath 
 | (Senior Partner-Liquids).
