append styles
  link(href="/about/blue-banner.css", rel="stylesheet")
p With the prolific changes to the North American oil and NGL supply quantum and location, TrailStone sees great potential in midstream activities and investments.  To that end, Trailstone has acquired 
  a(href='/physical-platform/trailstone-liquids') USOIL 
  | and the 
  a(href='/physical-platform/dakota-gold-transfer') Dakota Gold Transfer 
  | project in North Dakota.  TrailStone continues our organic platform build through leasing transportation and storage assets across the North America.  For inquires regarding our liquids platform and how we can serve you, please contact 
  a(href='/about/team/john-redpath') John Redpath 
  | (Senior Partner-Liquids/Ags).