append styles
  link(href="/about/blue-banner.css", rel="stylesheet")
p TrailStone purchased US Oil and Refining Co in June of 2014.  This asset positions TSH to capture timing, location, quality and conversion opportunities in crude and refined products.
p USOR is comprised of a 42,000 barrel/day refinery located in Tacoma, Washington, and best-in-class rail, pipe, marine and truck logistics in the Pacific Northwest. It controls:
ul 
  li 2.7 million barrels of storage capacity
  li A fleet of 630 rail cars
  li Multi-year storage and 30,000 b/d throughput agreement at a rail terminal in the Bakken
  li Deepwater terminal with two docks, capable of handling everything from barges up to 125,000 DWT vessels
  li 3 double-hulled barges on long-term charter
  li Dedicated proprietary jet fuel pipeline to Joint Base Lewis-McChord
  li State of the art truck loading racks for wholesale clean product and asphalt sales
p For more information on USOIL visit 
  a(href='http://www.USOR.com') www.USOR.com 
  | or contact John Redpath.