h1 Mine Finance
img(src='/images/open-mine-pit-184404306.jpg' class='img-responsive')
h2 Mine Finance Overview
p TrailStone understands the challenges in today’s capital markets for small to medium sized miners. Through comprehensive due diligence centred on management, asset quality, financials and legal framework, TrailStone will back quality management teams with strong assets in the spirit of true partnership.

p TrailStone is a well capitalized investment business dedicated to the mining sector with access to US$1bn of investible funds. Our mandate is to invest in the mining sector across a diversified range of geographic regions. We can invest across all segments of the capital structure from vanilla equity investments to senior secured project financings. We work closely with mining companies as a partner to create successful and sustainable businesses that target superior returns for all partners.

p We differentiate ourselves from competitors by offering mining companies flexible and innovative capital solutions that address partner concerns while positioning TrailStone as a trusted partner with a deep technical understanding of the mining industry. We will invest in assets with superior technical attributes while ensuring that potential risks are identified and mitigated through rigorous due diligence and fundamental financial analysis. Our core deal team also sit on TrailStone’s investment committee, thereby minimizing execution risk for clients and ensuring timely assessment and execution of investment opportunities.

p We operate a global business with three core hubs in London, Sydney and New York.