h1 Mine Finance Approach
p Our investment approach is driven by the underlying premise that the key to successful investing in the junior mining sector is prioritizing the preservation of capital. To this end, we will adopt a fundamental investment approach that focuses on:
ul
  li Superior technical attributes: we will focus on those mining assets where the technical qualities provide confidence in project success
  li Strong management: proven and experienced management teams that are willing to partner with us
  li Robust financials: project economics that can withstand operational and macro stresses
  li Long term partnership: we look to partner with investee companies and contribute our technical and financial resources, actively favouring those where there is an opportunity and desire to engage in a mutually beneficial, long-term relationship
