h1 Focus
p Commodities markets are unique and demanding. They encompass all the elements of financial markets; capital and financing, price risk, and credit risk. Unlike financial markets however they also require expertise and knowledge of the physical complexities of production, consumption, and transportation of the commodities themselves.

p TrailStone’s competitive advantage is our strong, highly specialised, finance team, integrated with experienced traders of both physical and financial products.

p Whether we own, finance, or manage assets on behalf of our partners, TrailStone can perform the physical trading, logistics, and optimization of those assets. We can also combine financial and physical requirements by engaging in structured lending secured by equity and off-take contracts across the entire commodity class.