.nav-sidebar
  ul
    li 
      a(href='about' class="#{ current.source == 'index' ? 'active' : '' }") About
    li 
      a(href='experience' class="#{ current.source == 'experience' ? 'active' : '' }") Experience
    li 
      a(href='team' class="#{ current.source == 'team' ? 'active' : '' }") Executive Team
    li.last 
      a(href='press' class="#{ current.source == 'press' ? 'active' : '' }") Press