h1 Experience 
p The senior TrailStone partners are Bill Gebhardt, Raymond Key, Troy Martin, John Redpath and David Silbert, who previously held senior roles in various divisions of Deutsche Bank’s commodities businesses. They and their respective teams are highly skilled in all physical, financial and risk management aspects of the energy, metals and agricultural commodities markets.