append styles
  link(href="/about/blue-banner.css", rel="stylesheet")
  p TrailStone was formed in April 2013 and is a group of companies funded by 
    a(href='http://www.riverstonellc.com/' target='_blank') Riverstone private equity group
    | . TrailStone is staffed by energy and finance professionals with in-depth experience of mining, oil and gas investment and finance, energy asset management, energy logistics and trading. Many of our shareholders are employees and this encourages a true spirit of partnership and heightened alignment with the success of the business. TrailStone attracts talented entrepreneurs who have a proven track record in their field and who are adept at understanding and managing risk. We have offices in London, Berlin, Sydney, Austin and New York.
  p The senior TrailStone partners are 
    a(href='/about/team/william-gebhardt') Bill Gebhardt
    | , 
    a(href='/about/team/raymond-key') Raymond Key
    | , 
    a(href='/about/team/troy-martin') Troy Martin
    | , 
    a(href='/about/team/john-redpath') John Redpath
    |  and 
    a(href='/about/team/david-silbert') David Silbert
    | , who previously held senior roles in various divisions of Deutsche Bank’s commodities businesses. They and their respective teams are highly skilled in all physical, financial and risk management aspects of the energy, metals and agricultural commodities markets.
  h2 Focus
  p Commodities markets are unique and demanding. They encompass all the elements of financial markets; capital and financing, price risk, and credit risk. However, unlike financial markets, they also require expertise and knowledge of the physical complexities of production, consumption, and transportation of the commodities themselves.
  p TrailStone's competitive advantage is our strong, highly specialized, finance team, integrated with experienced traders of both physical and financial products.
  p Whether we own, finance, or manage assets on behalf of our partners, TrailStone can perform the physical trading, logistics, and optimization of those assets. We can also combine financial and physical requirements by engaging in structured lending secured by equity and off-take contracts across the entire commodity class.
