h1 Mine Finance Team 
.row
  .col-md-12
    .team-grid
      img(src="/images/raymond-key-thumbnail-205x287-2-205x272.jpg")
      h2 Raymond Key
      p.title Senior Partner & Head of Metals & Mining
      p Mr. Key served as a Managing Director and Global Head of Metals within Deutsche Bank Global Commodities from August 2007 to February 2013. During his tenure at Deutsche Bank, Mr. Key executed a major expansion of the bank’s metals business, and oversaw the development of what was initially a small derivatives business into a...
      a(href='raymond-key') Read more
.row
  .col-md-12
    .team-grid
      img(src="/images/zan-johan-205x272.jpg")
      h2 Zan Johan
      p.title Managing Director
      p Zan Johan joined TrailStone in 2013 after fifteen years in investment banking. For the past nine years he worked with Deutsche Bank in London. Initially working as an M&amp;A/Corporate Finance practitioner. Zan focused on advising clients in the natural resources sector.
      a(href='zan-johan') Read more