h1.team Zan Johan
h2.team Managing Director
img(src='/images/zan-johan-205x272.jpg' class='team')
p Mr. Johan is an experienced investment banker with particular focus on the metals and mining sector.

p Mr. Johan worked fifteen years in investment banking, the last nine of which were at Deutsche Bank. Initially working as an M&A / corporate finance practitioner, Mr. Johan focused on advising clients in the natural resources sector. His investment banking transaction experience includes LBOs, cross-border M&A, debt restructurings, IPOs and project finance, with deal sizes ranging from US$40bn to US$50m. At Deutsche Bank, Mr. Johan was the global head of metals structuring where he was responsible for structured finance transactions in the metals and mining complex.

p At TrailStone, Mr Johan’s focus is on transaction structuring, execution and origination.

p Mr. Johan graduated from the University of Queensland with a Bachelor of Commerce (First Class Honours), and he holds a MBA from INSEAD.

a(href='../team') Back to Team Page