append styles
  link(href="/aqua-banner.css", rel="stylesheet")
p We co-operate with producers and consumers to provide certainty, continuity and stability for their energy requirements. In gas and power, this means managing price and volume risk on very short timescales on a continuous basis.
p In Europe, TrailStone offers a platform to operate, trade and schedule physical electricity and gas assets. With teams in London and Berlin, we operate 24 hours a day, 7 days a week, focusing on all aspects of managing risk inherent in the physical power and gas markets. Our European team has a proven track record in managing variable volumes, volatile prices and uncertain balancing charges.

h2 European Power
p Our European power team is able to deliver a wide variety of services on a 24/7 basis to the power industry for long-term and sustainable value creation and our physical footprint covers countries throughout northern, western, central, southern and eastern Europe.
p Our team of experienced professionals supports conventional power producers while providing unique fuel procurement and incentive-based asset management services as well as forward risk analysis and hedging solutions.
p We have a specialized team which supports the sale of renewable energy production directly into the wholesale markets throughout Europe with the ability to actively manage market, volumetric production and balancing risks.
p We help retail companies structure their energy procurement in a cost-effective way and manage volume and balancing risk.
p Please contact 
  a(href='/about/team/ante-pogacic') Ante Pogacic 
  | to explore ways in which TrailStone can work for you.
h2 European Gas
p Our European gas team can trade all major countries in western and eastern Europe. Our physical operations includes buying and optimizing storage and cross-border capacities and we are expert at monetizing upstream assets by structuring and financing future physical production.
p Our platform allows us to provide producers and end users with physical services such as 24/7 scheduling, marketing, procurement, storage and asset optimization. With gas markets increasingly open 24/7, we are ideally placed  to offer contract optimization in order to maximize the returns from embedded contract flexibility.
p Our European gas team can also offer web solutions to access traded markets with a live interface to our trading desk.
p Please contact 
  a(href='mailto:didier.magne@trailstonegroup.com') Didier Magne 
  | to explore ways in which TrailStone can work for you.

