append styles
  link(href="/aqua-banner.css", rel="stylesheet")
p Our aim is co-operation with producers and consumers to provide certainty, continuity and stability for their energy requirements. In gas and power this means managing price and volume risk on very short timescales on a continuous basis.
p In Europe, TrailStone offers a platform to operate, trade and schedule physical electricity and gas assets. With teams working in our offices in London and Berlin we operate 24 hours a day and 7 days a week, focusing on all aspects of managing risk inherent in the physical power and gas markets. Our European team has experience and a proven track record in managing variable volumes, volatile prices or uncertain balancing charges.

h2 European Power
p Our European Power Team is able to deliver a wide variety of services on a 24/7 basis  to the power industry for long-term and sustainable value creation and our physical footprint covers countries throughout North, West, Central, South and Eastern Europe.
p Our team of experienced professionals supports conventional power producers while providing unique fuel procurement and incentive based asset management services as well as forward risk analysis and hedging solutions.
p We have a specialized team to support renewable energy production to sell directly into the wholesale markets throughout Europe while being able to actively manage market, volumetric production and balancing risks.
p Trailstone supports retail companies to structure the energy procurement in a cost-effective way and manages volume and balancing risk.
p Please contact 
  a(href='/about/team/ante-pogacic') Ante Pogacic 
  | to explore ways that Trailstone can work for you.
h2 European Gas
p Our European gas team can trade all major countries in Western and Eastern Europe, including the Czech Republic, Slovakia and Austria. Our physical operations includes buying and optimizing storage and cross-border capacities and we are expert at monetizing upstream assets by structuring and financing future physical production.
p Our platform allows us to provide producers and end users with physical services such as 24/7 scheduling, marketing, procurement, storage and asset optimization.  With gas markets becoming increasingly open 24/7, Trailstone is perfectly suited to offer contract optimization in order to maximize the returns from embedded contract flexibility.
p The TrailStone European gas team can also offer web solutions to access traded markets with a live interface to our trading desk.
p Please contact Didier Magne to explore ways that Trailstone can work for you.
