append styles
  link(href="/aqua-banner.css", rel="stylesheet")
p Our aim is co-operation with producers and consumers to provide certainty, continuity and stability for their energy requirements. In gas and power this means managing price and volume risk on very short timescales on a continuous basis.

p In Europe and North America, TrailStone offers a platform to operate, trade and schedule physical electricity and gas assets. With teams working in our offices in London and Berlin we operate 24 hours a day and 7 days a week, focusing on all aspects of managing risk inherent in the physical power and gas markets. Our teams on both sides of the Atlantic have experience and a proven track record in managing variable volumes, volatile prices or uncertain balancing charges.