append styles
  link(href="/aqua-banner.css", rel="stylesheet")
p The exploration of unconventional oil and natural gas fields in North America have had sweeping impacts on supply import/export dynamics, locational price differentials, and the shape of the financial markets for the natural gas and secondarily power markets.  The downsizing of Investment Banking participation in trading, market making and credit intermediation has significantly decreased liquidity in the financial markets.  Managing assets has, arguably, has never been more challenging. 
p TrailStone can help.
 
h2 TrailStone North American Power
p TrailStone Power NA prides itself on delivering a wide variety of services to the power industry for long-term and sustainable value creation.  
p TSH’s team of experienced professionals provide unique fuel procurement and incentive based asset management services as well as forward risk analysis and hedging solutions.
p Trailstone operates 24 hours a day, seven days a week, to get the best financial and operational results for the assets it manages.  
p For a detailed lists of services:  LEARN MORE
p Please contact 
  a(href='mailto:frank.riley@trailstonegroup.com') Frank Riley 
  | to explore ways that Trailstone can work for you. 
 
h3 Power Producers
ul  
  li Daily Plant and Portfolio Valuation (Extrinsic/Intrinsic and risk analysis)
  li Twenty four hour scheduling and dispatch inter and intra ISO 
  li Extensive fuel procurement management
  li Incentive based asset management
  li Proactive position management based on market conditions, volatility, and forward prices
  li Market Intelligence (trends and impacts of Fuel, Power, Renewable Power, Congestion, Transmission, and FERC/ISO regulation)
  li Audit friendly transaction records
  li Customized/Scalable Settlement Systems (ISO and counterparty)
h3 Retailers
ul
  li Supply management
  li Demand Response management
  li Ancillary Services
  li Long-term hedging
 
h2 TrailStone North America Natural Gas
p As with the rest of TrailStone’s platform, our North America gas teams focus is on physical logistics through storage, transportation and supply agreements.  
p This foundation allows TSH to provide producers and end users with physical services such as scheduling, marketing, procurement, distribution, storage, and asset optimization.  
p TrailStone’s team of natural gas experts has significant experience in this regard and also in layering financial contracts to capture forward profits while maximizing operational efficiency and reliability.
p For more information on risk management solutions, financial hedging services, financing alternatives and investment partnerships, please contact 
  a(href='mailto:David.Moore@trailstonegroup.com') David Moore
  | .