append styles
  link(href="/aqua-banner.css", rel="stylesheet")
p The discovery of unconventional oil and natural gas fields in North America has had a major impact on supply import/export dynamics, locational price differentials, and the shape of the financial markets for the natural gas and power markets. The downsizing of investment bank participation in trading, market making and credit intermediation has significantly decreased liquidity in these markets. Managing assets  has never been more challenging. Our US team has a proven track record in managing variable volumes, volatile prices and hedging requirements.
 
h2 TrailStone North American Power
p Our American power team can deliver a wide variety of services to the power industry for long-term and sustainable value creation including fuel procurement and incentive based asset management services as well as forward risk analysis and hedging solutions.
p TrailStone operates 24/7 to get the best financial and operational results for the assets being managed.
p 

p
  | <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Click here</a> for a detailed list of services. 
  | <div class="collapse" id="collapseExample">
  | <div class="well">
    
  h3 Power Producers
ul  
  li Daily plant and portfolio valuation (extrinsic/intrinsic and risk analysis)
  li 24 hour scheduling and dispatch inter and intra ISO 
  li Extensive fuel procurement management
  li Incentive-based asset management
  li Proactive position management based on market conditions, volatility, and forward prices
  li Market intelligence (trends and impacts of fuel, power, renewable power, congestion, transmission and FERC/ISO regulation)
  li Audit-friendly transaction records
  li Customized/scalable settlement systems (ISO and counterparty)
h3 Retailers
ul
  li Supply management
  li Demand response management
  li Ancillary services
  li Long-term hedging

  | </div></div>
 

 
p Please contact 
  a(href='mailto:frank.riley@trailstonegroup.com') Frank Riley 
  | to explore ways in which TrailStone can work for you.
 
h2 TrailStone North American Natural Gas
p As with the rest of our platform, our North American gas team’s focus is on physical logistics through storage, transportation and supply agreements.
p This foundation allows TrailStone to provide producers and end users with services such as scheduling, marketing, procurement, distribution, storage, and asset optimization.
p Our team of natural gas experts has significant experience in this regard as well as in layering financial contracts to capture forward profits whilst maximizing operational efficiency and reliability.
p For more information on risk management solutions, financial hedging services, financing alternatives and investment partnerships, please contact 
  a(href='mailto:David.Moore@trailstonegroup.com') David Moore
  | .