append styles
  link(href="/about/blue-banner.css", rel="stylesheet")
h1.team Ante Pogacic
p.title Partner & Head of EU Power & Gas Origination
p.title 
  a(href='Ante.Pogacic@trailstonegroup.com') ante.pogacic@trailstonegroup.com 
img(src='/images/ante-pogacic-205x272.jpg' class='team')
p Mr. Pogacic is a highly experienced commodity professional specialized on the European energy markets with a focus on electricity generation and trading throughout Europe.

p He served as a managing director and European head of power and gas sales and origination at Deutsche Bank from September 2009 until 2013, and prior to that was a managing director of Bank of America Merrill Lynch and European head for continental electricity trading and origination. Before that, Mr. Pogacic worked for Vattenfall, one of the largest utilities in Europe, as the head of commodity trading in the central trading and risk management unit.

p Mr. Pogacic started his career in electricity trading and asset optimization in Bewag, Berlin’s local utility, at the very beginning of the liberalization of the electricity and gas markets in Germany. His university background is electrical engineering from the technical university in Berlin.
p.title 
  a(href='/about/team' role='button' class='btn btn-sm btn-primary') < Back to Team Page