append styles
  link(href="/about/blue-banner.css", rel="stylesheet")
h1.team David Silbert
p.title Senior Partner & Chief Executive Officer
img(src='/images/david-silbert-205x272.jpg' class='team')

p Mr. Silbert is a highly successful commodity professional with experience building a global, balanced and sustainable commodities business with wide-ranging physical and financial capabilities across energy, metals & mining and agriculture.

p Mr. Silbert served as managing director and head of Deutsche Bank’s global commodities business from March 2007 to February 2013. At Deutsche Bank, he organically built a global commodities business in energy, metals & mining and agriculture. During his tenure, the division quintupled revenues and became the third best performing investment bank in commodities in terms of revenue and the second most profitable.

p Previously, Mr. Silbert was managing director and head of EMEA commodities at Merrill Lynch, from September 2004 to October 2006. He joined Merrill Lynch after its acquisition of Entergy-Koch Trading, where he was CEO of Entergy-Koch Trading Europe between May 2003 and August 2004. From August 1996 to April 2003, Mr. Silbert held various trading roles at Koch Industries, and in particular at Koch Energy Trading.

p Mr. Silbert started his career in the energy markets as a physical and financial gas trader for Texaco Natural Gas from 1993 to 1996, and as a volume analyst for Tenneco Gas Pipeline between 1992 and 1993.

p Mr. Silbert graduated from the University of Texas, Austin, in 1992, with a Bachelors of Business Administration.
p.title 
  a(href='/about/team' role='button' class='btn btn-sm btn-primary') < Back to Team Page


