append styles
  link(href="/about/blue-banner.css", rel="stylesheet")
h1.team Jarek Kozlowski
p.title Chief Financial Officer
img(src='/images/jarek-kozlowski-205x287-205x272.jpg' class='team')
p Mr. Kozlowski has been involved in commodity trading for a number of years in various managerial, executive and directorial positions.

p Mr. Kozlowski was Chief Financial Officer and Treasurer for Mercuria in North America from 2008 to 2013. He oversaw the growth of North American operations from its inception to a highly successful trading platform that handled the entire energy complex in the US and Canada. Mr. Kozlowski also served on the board of directors for all trading and investment companies in North America for Mercuria.

p Before joining Mercuria, from 2005 to 2007, Mr. Kozlowski was Chief Financial Officer for AlphaMetrix, an industry leader in providing real-time access to commodity, foreign exchange, and managed futures/global macro managers. Mr. Kozlowski was responsible for all back office, operations and accounting functions of the company. He was instrumental in helping the firm manage the growth in client assets to over $800 million in just over two years.

p Prior to AlphaMetrix, Mr. Kozlowski worked in various positions for Cargill Investor Services (CIS), a division of Cargill, an international provider of food, agricultural and risk management products and services. Before leaving, he was the UK Accounting Manager for CIS in London, where he oversaw accounting and treasury operations for all trading desks as well as the company. Preceding his corporate work, Mr. Kozlowski was the Funds Accounting Manager for CIS in Chicago. His group grew to oversee more than $500 million in trading funds.

p Mr. Kozlowski holds a BS in Management from Purdue University and an MBA from DePaul University. He is a licensed CPA in the state of Illinois.
p.title 
  a(href='/about/team' role='button' class='btn btn-sm btn-primary') < Back to Team Page
