append styles
  link(href="/about/blue-banner.css", rel="stylesheet")
h1.team John Redpath
h2.team Senior Partner & Head of Liquids & Agriculture
img(src='/images/john-redpath-205x272.jpg' class='team')
p Mr Redpath is an experienced commodity trader and trading manager, with particular expertise in oil and agricultural markets.

p Mr. Redpath served as a managing director and global head of oil and agriculture trading for Deutsche Bank from August 2007 to February 2013. During his tenure, Mr. Redpath built Deutsche Bank’s agriculture business from the ground up, doubled revenues in oil trading from its previous high-water mark and introduced physical trading of both oil and agricultural products to the bank.

p Previously, Mr. Redpath was a managing director and global head of oil, metals and agriculture trading for Citibank from 2002 to 2007.

p From 2000 to 2002, Mr. Redpath served as a director in the commodity trading group of BNP Paribas.

p From 1995 to 2000, Mr. Redpath was a vice president and head of commodity trading for Credit Agricole Indosuez.

p Prior to that, Mr. Redpath served as a hedge fund oil trader and an oil market analyst between 1988 and 1995.

p Mr. Redpath earned a BA in international relations from the University of Minnesota in 1986 and completed graduate work at John Hopkins University School of Advanced International Studies in 1987 and 1988, concentrating on American foreign policy and international economics.
p.title 
  a(href='/about/team') < Back to Team Page