h1.team Raymond Key
h2.team Senior Partner & Head of Metals & Mining
img(src='/images/raymond-key-thumbnail-205x287-2-205x272.jpg' class='team')
p Mr. Key is a highly successful metals trader with a solid record of building and developing market leading metals businesses.

p Mr. Key served as a managing director and global head of metals within Deutsche Bank’s global commodities business from August 2007 to February 2013. During his tenure, Mr. Key executed a major expansion of the bank’s metals business, and oversaw the development of what was initially a small derivatives business into a globally diversified metals business that included derivative, mine finance, freight services, voyage and storage financing, cross-border services, industrial leasing and distribution of physical product. During this time, revenues increased eight-fold and the standing of the bank’s metals division advanced to be one of the top two global metals businesses among investment banks. Mr. Key also founded the iron ore swaps market in 2008 with Credit Suisse and BHP Billiton.

p Previously, Mr. Key served as executive director and global head of precious metals trading for Morgan Stanley’s commodities division from May 2002 to June 2007. Prior to his role at Morgan Stanley, Mr. Key was a precious metals trader at Credit Suisse and Deutsche Bank, and did interest rates and currency options trading at Bankers Trust.

p Between 2009 and 2013, Mr. Key was on the management board of the London Bullion Market Association (LBMA), the group that provides oversight on how the global bullion market is conducted.

p Mr. Key graduated from Otago University in Dunedin, New Zealand, in 1994, with a degree in economics and finance with First Class Honours.
a(href='../team') Back to Team Page