h1.team Sandra Rosignoli
h2.team General Counsel
img(src='/images/sandra-rosignoli-205x287-205x272.jpg' class='team')
p Ms. Rosignoli is an experienced and highly commercial lawyer who has significant legal experience in the commodities sector with a particular background in physical oil, coal and metal trading.

p Ms. Rosignoli was the Vitol group’s first in-house counsel. During her eleven year tenure, she reported directly to the board and was instrumental in the group evolving aspects of its corporate structure, legal systems and its awareness of legal and compliance issues. She established a global contract generation system and standardised oil, coal, metals and sugar trading contracts and drafted and negotiated trading contracts, joint ventures, marketing/off take contracts.

p A litigator by training, she managed the Vitol group’s high profile investigations, enquiries and litigation, working on complex cross-jurisdictional issues.

p Previously, Ms. Rosignoli was a solicitor at Holman, Fenwick and Willan in the City of London, for seven years specialising in shipping and trading litigation. She specialised in soft and hard commodities disputes focusing on Gafta, Fosfa, RSA and SAL contracts and arbitrations.

p Ms. Rosignoli holds a degree from Cambridge University, a CPE and LSF from the College of Law and a Masters in Law (International trade, insurance, shipping and arbitration) from King’s College, University of London.
a(href='../team') Back to Team Page