h1.team Troy Martin
h2.team Senior Partner & Chief Operating Officer
img(src='/images/troy-martin-205x272.jpg' class='team')

p Mr. Martin has wide experience in implementing global back office and mid office infrastructure and managing operations across a range of business groups within the commodities sector.

p Mr. Martin served as chief operating officer (COO) of Deutsche Bank’s global commodities business from June 2008 to February 2013. As COO, Mr. Martin oversaw the implementation of the commercial strategies of each of the business segments within the commodities division including North America power and gas, global oil and agriculture, global precious and base metals, European power and gas, correlation and index trading, and dry bulk sales and trading.

p Previously, Mr. Martin held various roles at Merrill Lynch Commodities International and its predecessor entities (Entergy-Koch Trading & Koch Energy Trading) between 1991 and 2008. Prior to his role in the energy trading division at Koch Industries, Mr Martin held roles in audit and financial accounting in other Koch subsidiaries.

p Mr. Martin earned a juris doctorate from the South Texas College of Law in 2001 and a B.B.A. in Accounting from Wichita State University in 1988. During his career, he has held professional licenses in both public accounting and law (in Kansas and Texas, respectively).
a(href='../team') Back to Team Page