append styles
  link(href="/about/blue-banner.css", rel="stylesheet")
h1.team William Gebhardt
h2.team Head of European Power and Gas
img(src='/images/william-gebhardt-205x272.jpg' class='team')
p Mr. Gebhardt is a highly experienced head of trading covering a wide range of commodities and commodity logistics focusing on Europe.

p Mr. Gebhardt served as a managing director of Deutsche Bank from February 2007 to February 2013. His roles encompassed head of trading for European power, gas, coal and dry freight, as well as co-global head of dry bulk trading (coal, iron ore, steel, dry freight) and global head of commodities fundamental analytics. He led the expansion of physical power trading to include all of western and most of eastern Europe, built physical gas trading to include storage and transportation capabilities and moved the bank into physical coal trading.

p From July 2006 to January 2007, Mr. Gebhardt served as a principal in the European equities division of Barclays Global Investors, based in London. From April 2000 to February 2005, Mr. Gebhardt served in various roles within the trading division of Merrill Lynch Commodities International, formerly Entergy-Koch Trading. Between 1991 and 1996, Mr. Gebhardt worked as a trader in various roles at Cabot Financial Group (Chicago, IL), Blaze Capital Management (Boulder, CO) and Chase Manhattan Mortgage (Tampa, FL).

p Mr. Gebhardt earned a Ph.D. in finance from Cornell University in 2001, a Masters in finance from the University of Colorado in 1991, and a B.S. in chemical engineering from the University of Colorado in 1989. He served as an assistant professor of finance at the University Of California Graduate School Of Management in Davis from March 2005 to June 2006.
p.title 
  a(href='/about/team') < Back to Team Page