h1.team Brad Blesie
h2.team Managing Director, Business Development
img(src='/images/brad-blesie-205x287-205x272.jpg' class='team')
p Mr. Blesie has 23 years of experience in the energy and broader natural resource industries, with a focus on the origination, structuring and execution of complex asset and finance-related transactions. Prior to joining TrailStone, Mr. Blesie was the head of energy business development in the EMEA region for Noble Group, where he managed a team that successfully closed several high-value transactions.
p Before joining Noble, Mr. Blesie spent several years in senior management positions with the commodity groups of Merrill Lynch and Deutsche Bank, most recently as co-head of EMEA commodities for Merrill Lynch, where he managed a global sales and origination team covering the entire commodity suite. He was also on the Investment Committee that managed a $500mm internal fund invested in energy assets. Prior to entering banking, Mr. Blesie spent four years with Enron in both Houston and London, and eight years consulting on energy related issues in both the US and a variety of emerging markets.
p Mr. Blesie holds a BA in Economics from the University of California at San Diego, and a Masters of Public Policy from Harvard University. 
a(href='../team') Back to Team Page