h1 Upstream Oil & Gas Team
.row
  .col-md-12
    .team-grid
      img(src="/images/john-redpath-205x272.jpg")
      h2 John Redpath
      p.title Senior Partner Head of Liquids Agriculture
      p Mr. Redpath served as a Managing Director and Global Head of Oil and Agriculture Trading for Deutsche Bank from August 2007 to February 2013.  During his tenure, Mr. Redpath built Deutsche Bank’s agriculture business from the ground up, doubled revenues in oil trading from its previous high-water mark and introduced physical trading of both
      a(href='john-redpath') Read more
.row
  .col-md-12
    .team-grid
      img(src="/images/mark-strange-205x287-205x272.jpg")
      h2 Mark Strange
      p.title Managing Director, Business Development
      p Mr. Strange has broad experience in the energy business comprising senior roles in the upstream, midstream, banking and commodity trading sectors.Most recently Mr. Strange has focused on the natural gas and power sector where he has sourced, negotiated and closed many significant transactions involving gas pipelines, gas storage...
      a(href='mark-strange') Read more
.row
  .col-md-12
    .team-grid
      img(src="/images/brad-blesie-205x287-205x272.jpg")
      h2 Brad Blesie
      p.title Managing Director, Business Development
      p Mr. Blesie has 23 years of experience in the energy and broader natural resource industries, with a focus on the origination, structuring and execution of complex asset and finance-related transactions. Prior to joining Trailstone, Mr. Blesie was the head of energy business development in the EMEA region for Noble Group where he managed a team...
      a(href='brad-blesie') Read more
