h1 Upstream Oil & Gas
p TrailStone is building partnerships across the upstream oil and gas industry. With a focus on capital provision, physical off-take arrangements and logistical support, TrailStone helps upstream companies navigate market volatility during the critical period between exploration/appraisal and commercial production. TrailStone partners with companies that have best-in-class assets, excellent technical fundamentals, strong management teams and robust operational capabilities. Together, we create value for our investors across the oil and gas supply chain.
p TrailStone’s activity in this sector can include:
ul
  li Providing debt capital in both traditional and alternative funding arrangements
  li Providing equity capital for both single upstream assets or more broad upstream plays
  li Off-take agreements with flexible logistics, market access and price risk management contracts
  li Mid-stream services
p Although TrailStone’s core geographic focus is in North American and North Sea oil and gas producing regions, global opportunities are continually evaluated for strategic fit within the firm’s portfolio.