append styles
  link(href="/gold-banner.css", rel="stylesheet")
p TrailStone understands the challenges in today’s capital markets for small to medium sized miners. Through comprehensive due diligence centred on management, asset quality, financials and legal framework, TrailStone will back management teams of quality with strong assets in the spirit of true partnership.

p TrailStone is a well capitalized investment business dedicated to the mining sector with access to investible funds. Our mandate is to invest in the mining sector across a diversified range of geographic regions. We can invest across all segments of the capital structure from vanilla equity investments to senior secured project financings. We work closely with mining companies as a partner to create successful and sustainable businesses that target superior returns for all partners.

p We differentiate ourselves from competitors by offering mining companies flexible and innovative capital solutions that address partner concerns whilst positioning TrailStone as a trusted partner with a deep technical understanding of the mining industry. We invest in assets with superior technical attributes whilst ensuring that potential risks are identified and mitigated through rigorous due diligence and fundamental financial analysis. Our core deal team also sit on TrailStone’s investment committee, thereby minimizing execution risk for clients and ensuring timely assessment and execution of investment opportunities.

p We operate a global business with three core hubs in London, Sydney and New York.

h2 Mine Finance Approach

p Our investment approach is driven by the underlying premise that the key to successful investing in the junior mining sector is prioritizing the preservation of capital. To this end, we will adopt a fundamental investment approach that focuses on:
ul 
  li Superior technical attributes: we will focus on those mining assets where the technical qualities provide confidence in project success
  li Strong management: proven and experienced management teams that are willing to partner with us
  li Robust financials: project economics that can withstand operational and macro stresses
  li Long term partnership: we look to partner with investee companies and contribute our technical and financial resources, actively favouring those where there is an opportunity and desire to engage in a mutually beneficial, long-term relationship